<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>列出全員工</title>

<link th:href="@{/listPage.css}" rel="stylesheet" />
</head>
<body>
<div th:replace="~{layout/navbar}"></div>
<h1>列出全員工</h1>

<table>
<tr>
<th>id</th>
<th>姓名</th>
<th>電話</th>
<th>地址</th>
<th>編輯</th>
<th>刪除</th>
</tr>

<th:block th:each=" oneEmp : ${allEmp}">
<tr>
<td th:text=${oneEmp.id}></td>
<td th:text=${oneEmp.name}></td>
<td th:text=${oneEmp.phone}></td>
<td th:text=${oneEmp.address}></td>
<td><a th:href="@{/employee/update(id=${oneEmp.id})}">編輯</a> </td>
<td>
<form th:method="delete" th:action="@{/employee/delete}">
  <input name="id" th:value="${oneEmp.id}" hidden />
  <input type="submit" value="刪除" />
</form>
</td>
</tr>
</th:block>
</table>
</body>
</html>